<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Team Project 2!</title>
    <link rel='stylesheet' href='../../public/css/jass.css' />
    <link rel='stylesheet' href='../../public/css/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <header>
    <div class="container">
    <nav class='navbar columns' role='navigation' aria-label='main navigation'>

        <div class='navbar column navbar-item'>
            <h2 class="header navbar-item align-right title is-3">Profile</h2>
        </div>

        <div class='navbar column navbar-item'>
            <h2 class="header navbar-item align-right title is-3">Home</h2>
        </div>

        <div class='login column is-one-fifth navbar-brand'>
            <img class="navbar-icon button" id="logo" src="../../public/images/standby-symbol.png">
        </div>

        <div class='navbar column navbar-item'>
            <h2 class="header navbar-item title is-3">About</h2>
        </div>

        <div class='navbar column navbar-item'>
            <h2 class="header navbar-item title is-3">Forum</h2>
        </div>

    </nav>
    </div>
    </header>

    <main class='content_container'>
      {{{body}}}
    </main>

    <footer>

    </footer>
  </body>

</html>