<footer class="footer columns">
    <div class="icon column">
        <i class="fas fa-gamepad is-pulled-right"></i>
    </div>
    <div class="content column has-text-centered">
        <p class="has-text-centered"><strong>GG games developed by</strong>
        <ul class="columns">
            <li class="column">Lara Korolyova <button class="button is-dark is-outlined is-rounded fab fa-github" href="https://github.com/KorolyovaLara"></button></li>
            <li class="column">Tinku Bansal <button class="button is-dark is-outlined is-rounded fab fa-github" href="https://github.com/tinkubansal95"></button></li>
            <li class="column">Sean Mckay <br/><button class="button is-dark is-outlined is-rounded fab fa-github" href="https://github.com/seanmckay94"></button></li>
        </ul>
    </div>
    <div class="icon column">
        <i class="fas fa-gamepad is-pulled-left"></i>
    </div>
</footer>