<footer class="footer">
  <figure class="image is-3by1" height="120">
    <img src="/images/big_logo.png" alt="big logo for GG site" />
  </figure>

  <div class="hero level">
    <div class="hero-body level-item">
      <h2 class="subtitle level-item">GG games developed by </h2>
    </div>
    <div>
      <ul class="level">
        <li class="level-item">Lara Korolyova
          <button
            class="button is-small is-dark is-outlined is-rounded fab fa-github"
            href="https://github.com/KorolyovaLara"
          ></button></li>
        <li class="level-item">Tinku Bansal
          <button
            class="button is-small is-dark is-outlined is-rounded fab fa-github"
            href="https://github.com/tinkubansal95"
          ></button></li>
        <li class="level-item">Sean Mckay
          <button
            class="button is-small is-dark is-outlined is-rounded fab fa-github"
            href="https://github.com/seanmckay94"
          ></button></li>
      </ul>
    </div>
  </div>
</footer>