<header>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/landing">
          <img src="/images/logo_gg.png" alt="small logo for GG site" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">

          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item" href="/games">
            Games
          </a>

          {{#if loggedIn}}
            <a id="logout" class="navbar-item" href="/login">
              Logout
            </a>
          {{else}}
            <a class="navbar-item" href="/login">
              Login
            </a>

            <a class="navbar-item" href="/register">
              Register
            </a>
          {{/if}}

          <a class="navbar-item" href="/about-us">
            About
          </a>

        </div>
      </div>
    </nav>
  </div>
</header>