{{> nav }}

<div class="container">
  <div class="hero level">
    <div class="hero-body level-item" >
      <img src="/images/404Error.png" alt="banner for 404 error page">
    </div>

    <div class="title level-item">
      <h2>
        {{ title }}
      </h2>
    </div>

    {{> 404 }}
    
    <div class="level-item">
      <p>Not to worry. Head back to our    
        <a href="/"><span class="tag is-danger is-medium">HOME</span></a>
        page!
      </p>
    </div>
  </div>
</div>

{{> footer}}


