{{> nav}}

<div class="container ">
    <div class="hero level">
        <div class="hero-body" >
            <img src="/images/about_us.png" alt="banner with a team working together">
        </div>

            <h1 class="title level-item"> All About Us & This Project </h1>

            <h3 class="level-item">
                Good Gaming is all about finding your gaming buddy online. User can have a profile and can add games to their collection. Same game can be added into other user’s collection as well. Hence, they can find their Gaming Buddies. A game includes a title, description and a trailer. When games page is rendered, user is able to view all the games, their description and is able to play trailer as well. User is bale to register and login. User is able to view other people’s profile as well. Profile page of user includes User info, description of the user and games collection of the user. 
            </h3>
     
        
    </div>
</div>

{{> footer}}