{{> nav}}

<div class="container">
    <div class="hero level">
        <div class="hero-body level-item" >
            <img src="/images/gamers_game.png" alt="banner with gaming consol controllers">
        </div>

        <div class="level-item">
            <h1 class="title"> All About Us & This Project </h1>
        </div>
        
    </div>
</div>
