{{> nav}}


<div class="container">
    <div class="hero level">
        <div class="hero-body level-item" >
            <img src="/images/gamers_game.png" alt="banner with gaming console controllers">
          </div>

        <div class="level-item">
            <h1 class="title"> All Games that our Users Play </h1>
        </div>
        {{#each games as |game|}}
            <div class="hero-body">
                <h2 class="subtitle level-item">{{game.title}}.</h2>
                <p class="level-item">{{game.description}}.</p>

                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="640" height="360" src="{{game.trailer}}" frameborder="0" allowfullscreen  alt="trailer for {{game.title}}."></iframe>
                  </figure>

            </div>
        {{/each}}
    </div>
</div>

{{> footer}}

