{{> nav}}

<div class="container">
    <div class="hero level">
        <div class="title level-item">
            <h1> All Games that our Users Play </h1>
        </div>
        {{#each games as |game|}}
            <div class="hero-body">
                <p>{{game.title}}.</p>
                <p>{{game.description}}.</p>
                <a>{{game.trailer}}</a>
                <iframe width="100%" height="auto" src="{{{game.trailer}}}" allowfullscreen></iframe>

            </div>
        {{/each}}
    </div>
</div>