{{> nav}}


<div class="container">
    <div class="hero level">
        <div class="title level-item">
            <h1> All Games that our Users Play </h1>
        </div>
        {{#each games as |game|}}
            <div class="hero-body">
                <p class="level-item">{{game.title}}.</p>
                <p class="level-item">{{game.description}}.</p>

                <figure class="image is-16by9">
                    <iframe class="has-ratio" width="640" height="360" src="{{game.trailer}}" frameborder="0" allowfullscreen  alt="trailer for {{game.title}}."></iframe>
                  </figure>

            </div>
        {{/each}}
    </div>
</div>

{{> footer}}

