{{> nav}}

    <section>
        <div class="container">
            <div class="image is-fullwidth">
                <figure class="image is-2by1">
                    <img src='/images/gg_banner.jpg'>
                </figure>
            </div>
            <div class="content is-overlay py-6">
                <br/><br/><br/><br/><br/>
                <div class="hero is-success is-flex">
                <h1 class="title is-1 is-primary has-text-centered has-text-weight-bold py-4">Welcome to GG games!</h1>
                </div>
            </div>
        </div>
    </section>

{{> footer}}