{{> nav }}


<div class="container">
    <div class="hero-body level-item" >
        <img src="/images/gamers_game.png" alt="banner with gaming consol controllers">
    </div>

    <div class="hero level">
        <div class="level-item">
            <h1 class="title"> You want to Log Out? </h1>
        </div>
        <div class="button is-large is-danger">
            <p id="lougout">YES</p>       
        </div>
    </div>

    <div class="hero-body level-item" >
        <img src="/images/gamers_game.png" alt="banner with gaming consol controllers">
    </div>
</div>

<script src="./js/logout.js"></script>