*::before, *::after, * {
    box-sizing: border-box;
}

.container {
    padding: 15px;
    align-items: center;
}

#logo {
    width: 75%;
    height: auto;
    border: none;
    float: right;
    border-radius: 90px;
}

#logo:hover {
    cursor: pointer;
    background-color: lime;
    transition: 1.5s;
}

.navbar {
    align-items: center;
}

.align-right {
    float: right;
}

