/* Google Fonts
Normal text
font-family: 'Source Sans Pro', sans-serif;
Spceial text 
font-family: 'Staatliches', cursive;
*/

*::before,
*::after,
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
a {
  font-family: "Staatliches", cursive;
}
